<?xml version="1.0"?>
<config>
    <modules>
        <FireGento_Pdf>
            <version>1.0.0</version>
        </FireGento_Pdf>
    </modules>
    <global>
        <helpers>
            <firegento_pdf>
                <class>FireGento_Pdf_Helper</class>
            </firegento_pdf>
        </helpers>
        <models>
            <firegento_pdf>
                <class>FireGento_Pdf_Model</class>
            </firegento_pdf>
            <sales>
                <rewrite>
                    <order_pdf_invoice>FireGento_Pdf_Model_Invoice</order_pdf_invoice>
                    <order_pdf_creditmemo>FireGento_Pdf_Model_Creditmemo</order_pdf_creditmemo>
                    <order_pdf_shipment>FireGento_Pdf_Model_Shipment</order_pdf_shipment>
                </rewrite>
            </sales>
        </models>
        <events>
            <firegento_pdf_invoice_insert_note>
                <observers>
                    <firegento_pdf>
                        <class>firegento_pdf/observer</class>
                        <method>addInvoiceNotes</method>
                    </firegento_pdf>
                </observers>
            </firegento_pdf_invoice_insert_note>
        </events>
        <pdf>
            <!-- fix totals order -->
            <totals>
                <tax>
                    <sort_order>650</sort_order>
                </tax>
            </totals>
        </pdf>
    </global>
    <frontend>
        <translate>
            <modules>
                <FireGento_Pdf>
                    <files>
                        <firegento_pdf>FireGento_Pdf.csv</firegento_pdf>
                    </files>
                </FireGento_Pdf>
            </modules>
        </translate>
        <routers>
            <sales>
                <args>
                    <modules>
                        <firegento_pdf before="Mage_Sales">FireGento_Pdf_Sales</firegento_pdf>
                    </modules>
                </args>
            </sales>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <FireGento_Pdf>
                    <files>
                        <firegento_pdf>FireGento_Pdf.csv</firegento_pdf>
                    </files>
                </FireGento_Pdf>
            </modules>
        </translate>
    </adminhtml>
</config>
