<?xml version="1.0"?>
<config>
    <modules>
        <FireGento_Pdf>
            <version>1.2.0</version>
        </FireGento_Pdf>
    </modules>
    <global>
        <blocks>
            <firegento_pdf>
                <class>FireGento_Pdf_Block</class>
            </firegento_pdf>
        </blocks>
        <helpers>
            <firegento_pdf>
                <class>FireGento_Pdf_Helper</class>
            </firegento_pdf>
        </helpers>
        <models>
            <firegento_pdf>
                <class>FireGento_Pdf_Model</class>
            </firegento_pdf>
            <sales>
                <rewrite>
                    <order_pdf_invoice>FireGento_Pdf_Model_Invoice</order_pdf_invoice>
                    <order_pdf_creditmemo>FireGento_Pdf_Model_Creditmemo</order_pdf_creditmemo>
                    <order_pdf_shipment>FireGento_Pdf_Model_Shipment</order_pdf_shipment>
                </rewrite>
            </sales>
            <tax>
                <rewrite>
                    <sales_pdf_grandtotal>FireGento_Pdf_Model_Tax_Sales_Pdf_Grandtotal</sales_pdf_grandtotal>
                </rewrite>
            </tax>
        </models>
        <resources>
            <firegento_pdf_setup>
                <setup>
                    <module>FireGento_Pdf</module>
                </setup>
            </firegento_pdf_setup>
        </resources>
        <events>
            <firegento_pdf_invoice_insert_note>
                <observers>
                    <firegento_pdf>
                        <class>firegento_pdf/observer</class>
                        <method>addInvoiceNotes</method>
                    </firegento_pdf>
                </observers>
            </firegento_pdf_invoice_insert_note>
            <firegento_pdf_shipment_insert_note>
                <observers>
                    <firegento_pdf>
                        <class>firegento_pdf/observer</class>
                        <method>addShippingMethod</method>
                    </firegento_pdf>
                </observers>
            </firegento_pdf_shipment_insert_note>
            <firegento_pdf_shipment_edit_page>
                <observers>
                    <firegento_pdf>
                        <class>firegento_pdf/observer</class>
                        <method>addBarcode</method>
                    </firegento_pdf>
                </observers>
            </firegento_pdf_shipment_edit_page>
        </events>
        <pdf>
            <!-- fix totals order -->
            <totals>
                <tax>
                    <sort_order>650</sort_order>
                </tax>
            </totals>
        </pdf>
    </global>
    <frontend>
        <translate>
            <modules>
                <FireGento_Pdf>
                    <files>
                        <firegento_pdf>FireGento_Pdf.csv</firegento_pdf>
                    </files>
                </FireGento_Pdf>
            </modules>
        </translate>
        <routers>
            <sales>
                <args>
                    <modules>
                        <firegento_pdf before="Mage_Sales">FireGento_Pdf_Sales</firegento_pdf>
                    </modules>
                </args>
            </sales>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <FireGento_Pdf>
                    <files>
                        <firegento_pdf>FireGento_Pdf.csv</firegento_pdf>
                    </files>
                </FireGento_Pdf>
            </modules>
        </translate>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <FireGento_Pdf>1</FireGento_Pdf>
            </modules>
        </suite>
    </phpunit>
    <default>
        <sales_pdf>
            <invoice>
                <engine />
                <show_customer_number>1</show_customer_number>
                <show_date_notice>0</show_date_notice>
                <maturity/>
                <payment_method_position/>
                <shipping_method_position/>
                <show_comments>0</show_comments>
                <note/>
                <item_price_column_order>price_incl_tax,qty,tax,subtotal_incl_tax</item_price_column_order>
                <show_item_discount>0</show_item_discount>
            </invoice>
            <shipment>
                <engine />
                <show_customer_number>1</show_customer_number>
                <shipping_method_position/>
                <note/>
                <order_id_as_barcode>0</order_id_as_barcode>
            </shipment>
            <creditmemo>
                <engine />
                <show_customer_number>1</show_customer_number>
                <note/>
            </creditmemo>
        </sales_pdf>
        <tax>
            <sales_display>
                <no_sum_on_details>0</no_sum_on_details>
            </sales_display>
        </tax>
    </default>
</config>
