<?xml version="1.0"?>
<!--
/**
 * This file is part of a FireGento e.V. module.
 *
 * This FireGento e.V. module is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * This script is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * @category  FireGento
 * @package   FireGento_Pdf
 * @author    FireGento Team <team@firegento.com>
 * @copyright 2014 FireGento Team (http://www.firegento.com)
 * @license   http://opensource.org/licenses/gpl-3.0 GNU General Public License, version 3 (GPLv3)
 */
 -->
<config>
    <modules>
        <FireGento_Pdf>
            <version>1.3.0</version>
        </FireGento_Pdf>
    </modules>
    <global>
        <blocks>
            <firegento_pdf>
                <class>FireGento_Pdf_Block</class>
            </firegento_pdf>
        </blocks>
        <helpers>
            <firegento_pdf>
                <class>FireGento_Pdf_Helper</class>
            </firegento_pdf>
        </helpers>
        <models>
            <firegento_pdf>
                <class>FireGento_Pdf_Model</class>
            </firegento_pdf>
            <sales>
                <rewrite>
                    <order_pdf_invoice>FireGento_Pdf_Model_Invoice</order_pdf_invoice>
                    <order_pdf_creditmemo>FireGento_Pdf_Model_Creditmemo</order_pdf_creditmemo>
                    <order_pdf_shipment>FireGento_Pdf_Model_Shipment</order_pdf_shipment>
                </rewrite>
            </sales>
            <tax>
                <rewrite>
                    <sales_pdf_grandtotal>FireGento_Pdf_Model_Tax_Sales_Pdf_Grandtotal</sales_pdf_grandtotal>
                </rewrite>
            </tax>
        </models>
        <resources>
            <firegento_pdf_setup>
                <setup>
                    <module>FireGento_Pdf</module>
                </setup>
            </firegento_pdf_setup>
        </resources>
        <events>
            <firegento_pdf_invoice_insert_note>
                <observers>
                    <firegento_pdf>
                        <class>firegento_pdf/observer</class>
                        <method>addInvoiceNotes</method>
                    </firegento_pdf>
                </observers>
            </firegento_pdf_invoice_insert_note>
            <firegento_pdf_shipment_insert_note>
                <observers>
                    <firegento_pdf>
                        <class>firegento_pdf/observer</class>
                        <method>addShipmentNotes</method>
                    </firegento_pdf>
                </observers>
            </firegento_pdf_shipment_insert_note>
            <firegento_pdf_creditmemo_insert_note>
                <observers>
                    <firegento_pdf>
                        <class>firegento_pdf/observer</class>
                        <method>addCreditmemoNotes</method>
                    </firegento_pdf>
                </observers>
            </firegento_pdf_creditmemo_insert_note>
            <firegento_pdf_invoice_edit_page>
                <observers>
                    <firegento_pdf>
                        <class>firegento_pdf/observer</class>
                        <method>addInvoiceBarcode</method>
                    </firegento_pdf>
                </observers>
            </firegento_pdf_invoice_edit_page>
            <firegento_pdf_shipment_edit_page>
                <observers>
                    <firegento_pdf>
                        <class>firegento_pdf/observer</class>
                        <method>addShipmentBarcode</method>
                    </firegento_pdf>
                </observers>
            </firegento_pdf_shipment_edit_page>
        </events>
        <pdf>
            <!-- fix totals order -->
            <totals>
                <tax>
                    <sort_order>650</sort_order>
                </tax>
            </totals>
        </pdf>
    </global>
    <frontend>
        <translate>
            <modules>
                <FireGento_Pdf>
                    <files>
                        <firegento_pdf>FireGento_Pdf.csv</firegento_pdf>
                    </files>
                </FireGento_Pdf>
            </modules>
        </translate>
        <routers>
            <sales>
                <args>
                    <modules>
                        <firegento_pdf before="Mage_Sales">FireGento_Pdf_Sales</firegento_pdf>
                    </modules>
                </args>
            </sales>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <FireGento_Pdf>
                    <files>
                        <firegento_pdf>FireGento_Pdf.csv</firegento_pdf>
                    </files>
                </FireGento_Pdf>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <firegento_pdf before="Mage_Adminhtml">FireGento_Pdf_Adminhtml</firegento_pdf>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <phpunit>
        <suite>
            <modules>
                <FireGento_Pdf>1</FireGento_Pdf>
            </modules>
        </suite>
    </phpunit>
    <default>
        <sales_pdf>
            <firegento_pdf>
                <logo_ratio>100</logo_ratio>
                <headerblocks_position>left</headerblocks_position>
                <!-- This is Zend_Pdf_Page::SIZE_A4 -->
                <page_size>595:842:</page_size>
            </firegento_pdf>
            <invoice>
                <engine>firegento_pdf/engine_invoice_default</engine>
                <show_customer_number>1</show_customer_number>
                <show_customer_vatnumber>0</show_customer_vatnumber>
                <show_date_notice>0</show_date_notice>
                <maturity/>
                <payment_method_position/>
                <shipping_method_position/>
                <show_comments>0</show_comments>
                <note/>
                <item_price_column_order>price_incl_tax,qty,tax,subtotal_incl_tax</item_price_column_order>
                <show_item_discount>0</show_item_discount>
                <order_id_as_barcode>0</order_id_as_barcode>
                <filename_export_pattern/>
                <filename_export_pattern_for_multiple_documents/>
                <shipping_country_notes/>
            </invoice>
            <shipment>
                <engine>firegento_pdf/engine_shipment_default</engine>
                <show_customer_number>1</show_customer_number>
                <show_customer_vatnumber>0</show_customer_vatnumber>
                <shipping_method_position/>
                <show_comments>0</show_comments>
                <note/>
                <order_id_as_barcode>0</order_id_as_barcode>
                <filename_export_pattern/>
                <filename_export_pattern_for_multiple_documents/>
            </shipment>
            <creditmemo>
                <engine>firegento_pdf/engine_creditmemo_default</engine>
                <show_customer_number>1</show_customer_number>
                <show_customer_vatnumber>0</show_customer_vatnumber>
                <show_comments>0</show_comments>
                <note/>
                <filename_export_pattern/>
                <filename_export_pattern_for_multiple_documents/>
            </creditmemo>
        </sales_pdf>
        <tax>
            <sales_display>
                <no_sum_on_details>0</no_sum_on_details>
            </sales_display>
        </tax>
    </default>
</config>
