<?xml version="1.0"?>
<!--
/**
 * This file is part of the FIREGENTO project.
 *
 * FireGento_Pdf is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * This script is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * PHP version 5
 *
 * @category  FireGento
 * @package   FireGento_Pdf
 * @author    FireGento Team <team@firegento.com>
 * @copyright 2013 FireGento Team (http://www.firegento.com)
 * @license   http://opensource.org/licenses/gpl-3.0 GNU General Public License, version 3 (GPLv3)
 * @version   $Id:$
 * @since     0.1.0
 */
 -->
<config>
    <sections>
        <tax>
            <groups>
                <sales_display>
                    <fields>
                        <no_sum_on_details translate="label">
                            <label>Don't display Tax Total if display Summary is on</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>700</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </no_sum_on_details>
                    </fields>
                </sales_display>
            </groups>
        </tax>
        <sales_pdf>
            <groups>
                <invoice>
                    <fields>
                        <engine translate="label">
                            <label>PDF Engine</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firegento_pdf/system_config_source_invoice_engine</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </engine>
                        <show_customer_number translate="label">
                            <label>Show Customer Number</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_customer_number>
                        <show_date_notice translate="label">
                            <label>Show Date Notice</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Show Notice: Invoice date is equal to delivery date.</comment>
                        </show_date_notice>
                        <maturity translate="label comment">
                            <label>Invoice Maturity</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Days after the invoice is due. Leave this field blank to hide the message on the invoice.</comment>
                        </maturity>
                        <payment_method_position translate="label comment">
                            <label>Show Payment Method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firegento_pdf/system_config_source_payment</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Position of payment method on invoice.</comment>
                        </payment_method_position>
                        <shipping_method_position translate="label comment">
                            <label>Show Shipping Method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firegento_pdf/system_config_source_shipping</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Position of shipping method on invoice.</comment>
                        </shipping_method_position>
                        <show_comments>
                            <label>Show Invoice Comments</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_comments>
                        <note translate="label comment">
                            <label>Note</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Printed on every invoice.</comment>
                        </note>
                        <item_price_column_order translate="label comment">
                            <label>Order of price columns of items</label>
                            <frontend_model>firegento_pdf/adminhtml_columnOrder</frontend_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </item_price_column_order>
                        <show_item_discount translate="label">
                            <label>Show Item Discount</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_item_discount>
                    </fields>
                </invoice>
                <shipment>
                    <fields>
                        <engine translate="label">
                            <label>PDF Engine</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firegento_pdf/system_config_source_shipment_engine</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </engine>
                        <show_customer_number translate="label">
                            <label>Show Customer Number</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_customer_number>
                        <note translate="label comment">
                            <label>Note</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Printed on every shipment.</comment>
                        </note>
                    </fields>
                </shipment>
                <creditmemo>
                    <fields>
                        <engine translate="label">
                            <label>PDF Engine</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firegento_pdf/system_config_source_creditmemo_engine</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </engine>
                        <show_customer_number translate="label">
                            <label>Show Customer Number</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_customer_number>
                        <note translate="label comment">
                            <label>Note</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Printed on every credit memo.</comment>
                        </note>
                    </fields>
                </creditmemo>
                <firegento_pdf translate="label">
                    <label>PDF Creation</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <sender_address_bar translate="label">
                            <label>Sender Address Bar</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender_address_bar>
                        <show_footer translate="label">
                            <label>Show Footer</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_footer>
                        <logo_position translate="label">
                            <label>Logo Position</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firegento_pdf/system_config_source_logo</source_model>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </logo_position>
                    </fields>
                </firegento_pdf>
            </groups>
        </sales_pdf>
    </sections>
</config>
