<?xml version="1.0"?>
<!--
/**
 * This file is part of a FireGento e.V. module.
 *
 * This FireGento e.V. module is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * This script is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * @category  FireGento
 * @package   FireGento_Pdf
 * @author    FireGento Team <team@firegento.com>
 * @copyright 2014 FireGento Team (http://www.firegento.com)
 * @license   http://opensource.org/licenses/gpl-3.0 GNU General Public License, version 3 (GPLv3)
 */
 -->
<config>
    <sections>
        <tax>
            <groups>
                <sales_display>
                    <fields>
                        <no_sum_on_details translate="label">
                            <label>Display Tax Total if display Summary is on</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>700</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </no_sum_on_details>
                        <hide_grandtotal_excl_tax translate="label">
                            <label>Hide Grand Total excl. Tax if display Summary is on</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>702</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </hide_grandtotal_excl_tax>
                    </fields>
                </sales_display>
            </groups>
        </tax>
        <sales_pdf>
            <groups>
                <invoice>
                    <sort_order>300</sort_order>
                    <fields>
                        <engine translate="label">
                            <label>PDF Engine</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firegento_pdf/system_config_source_invoice_engine</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </engine>
                        <show_customer_number translate="label">
                            <label>Show Customer Number</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_customer_number>
                        <show_date_notice translate="label">
                            <label>Show Date Notice</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Show Notice: Invoice date is equal to delivery date.</comment>
                        </show_date_notice>
                        <maturity translate="label comment">
                            <label>Invoice Maturity</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Days after the invoice is due. Leave this field blank to hide the message on the invoice.</comment>
                        </maturity>
                        <payment_method_position translate="label comment">
                            <label>Show Payment Method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firegento_pdf/system_config_source_payment</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Position of payment method on invoice.</comment>
                        </payment_method_position>
                        <shipping_method_position translate="label comment">
                            <label>Show Shipping Method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firegento_pdf/system_config_source_shipping</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Position of shipping method on invoice.</comment>
                        </shipping_method_position>
                        <show_comments>
                            <label>Show Invoice Comments</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_comments>
                        <note translate="label comment">
                            <label>Note</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Printed on every invoice.</comment>
                        </note>
                        <item_price_column_order translate="label comment">
                            <label>Order of price columns of items</label>
                            <frontend_model>firegento_pdf/adminhtml_columnOrder</frontend_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </item_price_column_order>
                        <show_item_discount translate="label">
                            <label>Show Item Discount</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_item_discount>
                        <filename_export_pattern translate="label comment">
                            <label>Filename Export Pattern</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>available placeholders: {{invoice_id}}, {{order_id}}, {{customer_id}}, {{customer_name}}, {{customer_firstname}}, {{customer_lastname}} and strftime() date formats like "%Y"</comment>
                        </filename_export_pattern>
                    </fields>
                </invoice>
                <shipment>
                    <sort_order>400</sort_order>
                    <fields>
                        <engine translate="label">
                            <label>PDF Engine</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firegento_pdf/system_config_source_shipment_engine</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </engine>
                        <show_customer_number translate="label">
                            <label>Show Customer Number</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_customer_number>
                        <shipping_method_position translate="label comment">
                            <label>Show Shipping Method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firegento_pdf/system_config_source_shipping</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Position of shipping method on shipment.</comment>
                        </shipping_method_position>
                        <note translate="label comment">
                            <label>Note</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Printed on every shipment.</comment>
                        </note>
                        <order_id_as_barcode translate="label comment">
                            <label>Show Order ID as Barcode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Prints the order ID as a barcode on the right hand side.</comment>
                        </order_id_as_barcode>
                        <filename_export_pattern translate="label comment">
                            <label>Filename Export Pattern</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>available placeholders: {{shipment_id}}, {{order_id}}, {{customer_id}}, {{customer_name}}, {{customer_firstname}}, {{customer_lastname}} and strftime() date formats like "%Y"</comment>
                        </filename_export_pattern>
                    </fields>
                </shipment>
                <creditmemo>
                    <sort_order>500</sort_order>
                    <fields>
                        <engine translate="label">
                            <label>PDF Engine</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firegento_pdf/system_config_source_creditmemo_engine</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </engine>
                        <show_customer_number translate="label">
                            <label>Show Customer Number</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_customer_number>
                        <note translate="label comment">
                            <label>Note</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Printed on every credit memo.</comment>
                        </note>
                        <filename_export_pattern translate="label comment">
                            <label>Filename Export Pattern</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>available placeholders: {{creditmemo_id}}, {{order_id}}, {{customer_id}}, {{customer_name}}, {{customer_firstname}}, {{customer_lastname}} and strftime() date formats like "%Y"</comment>
                        </filename_export_pattern>
                    </fields>
                </creditmemo>
                <firegento_pdf translate="label">
                    <label>PDF Creation</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>0</expanded>
                    <fields>
                        <sender_address_bar translate="label">
                            <label>Sender Address Bar</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Show address above shipping/invoice address</comment>
                        </sender_address_bar>
                        <show_footer translate="label comment">
                            <label>Show Footer</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Show Imprint. Compatible with <a href="http://www.magentocommerce.com/magento-connect/firegento-magesetup.html">MageSetup</a> or GermanSetup (not anymore maintained, replaced by MageSetup)]]></comment>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_footer>
                        <logo_position translate="label comment">
                            <label>Logo Position</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firegento_pdf/system_config_source_logo</source_model>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Full width means that the logo starts at the upper left corner and is drawn to the right edge. There is no left or right margin for printing.]]></comment>
                        </logo_position>
                        <logo_ratio translate="label">
                            <label>Logo Ratio</label>
                            <frontend_type>text</frontend_type>
                            <frontend_class>validate-number-range number-range-1-100</frontend_class>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Resize or not the size of your logo in the header. Value possible from 1 (minimum size) to 100 (full size). Values in percent.]]></comment>
                        </logo_ratio>
                        <headerblocks_position translate="label">
                            <label>Header Blocks Position</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firegento_pdf/system_config_source_headerblocks</source_model>
                            <comment><![CDATA[Left: Customer address left, Invoice details right. Right: Invoice details left, Customer address right.]]></comment>
                        </headerblocks_position>
                    </fields>
                </firegento_pdf>
                <firegento_pdf_fonts>
                    <label>Fonts for PDF Creation</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <upload_fonts translate="label comment">
                            <label>Upload own fonts</label>
                            <comment><![CDATA[You can upload your own fonts (*.ttf, *.otf) instead of using Zends Helvetica]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </upload_fonts>
                        <regular_font translate="label">
                            <label>Regular font</label>
                            <frontend_type>file</frontend_type>
                            <backend_model>firegento_pdf/system_config_backend_font</backend_model>
                            <upload_dir>media/firegento_pdf/fonts</upload_dir>
                            <sort_order>500</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <upload_fonts>1</upload_fonts>
                            </depends>
                        </regular_font>
                        <bold_font translate="label">
                            <label>Bold font</label>
                            <frontend_type>file</frontend_type>
                            <backend_model>firegento_pdf/system_config_backend_font</backend_model>
                            <upload_dir>media/firegento_pdf/fonts</upload_dir>
                            <sort_order>600</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <upload_fonts>1</upload_fonts>
                            </depends>
                        </bold_font>
                        <italic_font translate="label">
                            <label>Italic font</label>
                            <frontend_type>file</frontend_type>
                            <backend_model>firegento_pdf/system_config_backend_font</backend_model>
                            <upload_dir scope_info="1">media/firegento_pdf/fonts</upload_dir>
                            <sort_order>700</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <upload_fonts>1</upload_fonts>
                            </depends>
                        </italic_font>
                    </fields>
                </firegento_pdf_fonts>
            </groups>
        </sales_pdf>
    </sections>
</config>
